<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/" xmlns:sec="https://www.thymeleaf.org/">
<head th:replace="fragments/general :: baseHeader(~{:: title})">
    <title>Overzicht van alle boeken</title>
</head>
<body>
<div th:replace="fragments/general :: navbar"></div>
<div class="container">
    <h1>Overzicht van de boeken</h1>
    <table class="table table-hover">
        <tr>
            <th>Title</th>
            <th>Auteur</th>
            <th>Gelezen</th>
            <th>Zet op te lezen lijst</th>
        </tr>
        <tr th:each="book : ${allBooks}">
            <td> <a th:href="@{/books/update/{bookTitle}(bookTitle=${book.title})}" th:text="${book.title}"></a></td>
            <td th:text="${book.authorsDisplayString}"></td>
            <td th:text="${book.numberOfAvailableCopies}"></td>
            <td><a th:href="@{/copy/new/{bookId}(bookId=${book.bookId})}" role="button" class="btn btn-outline-primary">Bestel</a></td>
        </tr>
    </table>
    <div>
        <a th:href="@{/book/new}" role="button" class="btn btn-outline-primary">Boek toevoegen</a>
    </div>
</div>

<div th:replace="fragments/general :: footer"></div>
<div th:replace="fragments/general :: bottomScripts"></div>
</body>
</html>
