<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/" xmlns:sec="https://www.thymeleaf.org/">
<head th:replace="fragments/general :: baseHeader(~{:: title})">
    <title>Formulier voor een boek</title>
</head>
<body>
<div th:replace="fragments/general :: navbar"></div>
<div class="container">
    <h1>Maak een nieuw boek aan</h1>
    <form th:action="@{/book/new}" method="post" th:object="${book}">
        <input type="hidden" th:field="*{bookId}"/>
        <table>
            <tr>
                <td><label for="title">Title</label></td>
                <td><input id="title" type="text" th:field="*{title}" /></td>
            </tr>
            <tr>
                <td><label for="author">Author</label></td>
                <td>
                    <select multiple id="author" th:field="*{authors}">
                        <option th:each="author : ${allAuthors}" th:value="${author.authorId}" th:text="${author.displayName}"></option>
                    </select>
                </td>
            </tr>
        </table>
        <input type="submit" value="Sla boek op"/>
    </form>
</div>

<div th:replace="fragments/general :: footer"></div>
<div th:replace="fragments/general :: bottomScripts"></div>
</body>
</html>