<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/" xmlns:sec="https://www.thymeleaf.org/">
<head th:replace="fragments/general :: baseHeader(~{:: title})">
    <title>Overzicht van het boek</title>
</head>
<body>
<div th:replace="fragments/general :: navbar"></div>

<div class="container">
    <h1>Details van <span th:text="${book.title}"></span></h1>
    <div>

    </div>
    <div>

    </div>
    <div>
        <a th:href="@{/book/review/new}" role="button" class="btn btn-outline-primary">Voeg een review toe</a>
    </div>
</div>

<div th:replace="fragments/general :: footer"></div>
</body>
</html>